@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Pour postuler, veuillez cliquer sur <a href="/Home/Offre"> Nos  Offre</a>.</p>
</div>
